filebeat.inputs:
- type: log
  enabled: true
  paths:
    - /var/log/nginx/access.log
    - /var/log/nginx/error.log

output.elasticsearch:
  hosts: ["{{ hostvars['elasticsearch-host']['ansible_host']}}:9200"]

setup.kibana:
  host: "{{ hostvars['kibana-host']['ansible_host']}}:5601"
