[defaults]
inventory = ./hosts.ini
host_key_checking = False
remote_user = ubuntu

[ssh_connection]
# Проброс SSH-трафика к приватным ВМ строго через актуальный Bastion Host
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ProxyCommand="ssh -W %h:%p -q ubuntu@84.252.131.124 -i ~/.ssh/id_ed25519 -o StrictHostKeyChecking=no"
